:root {
    --main: #201410;
    --dom1: #d5cc8a;
    --putih: #e5e5e5;
    --butHover: #cb9761;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dom1);
    color: var(--main);
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--main);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/*navbar img*/
.navbar img {
    display: inline-block;
}

/*navbar-nav*/
.navbar .navbar-nav a {
    color: var(--putih);
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 2rem;
}
.navbar .navbar-nav a:hover {
    color: var(--dom1);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--dom1);
    transform: scaleX(0);
    transition: 0.15s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.6);
}

/*Scroll Up Button*/
#scroll-up-button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--dom1);
    color: var(--main);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    line-height: 50%;
    transition: 0.15s ease-in-out;
}

#scroll-up-button:hover {
    background-color: var(--butHover);
}

/*hero Image*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../assets/mendoan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    background: linear-gradient(0deg, var(--main) 5%, rgba(255, 255, 255, 0) 100%);
}
.hero .welcome {
    padding: 1.4rem 50%;
    max-width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 90;
}
.hero .welcome h1 {
    font-size: 5em;
    color: var(--putih);
    text-shadow: 1px 1px 1px var(--main);
    line-height: 1.2;
    text-align: center;
}
.hero .welcome .cta {
    margin-top: 3rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    color: var(--putih);
    background-color: var(--main);
    border-radius: 1.25rem;
}
.hero .welcome .cta:hover {
    color: var(--main);
    background-color: var(--dom1);
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 10px rgb(31, 6, 0);
}
.hero .welcome .cta::after {
    content: '';
    display: block;
    transform: scaleX(0);
    border-bottom: 0.1rem solid var(--main);
    transition: 0.20s ease-in-out;
}
.hero .welcome .cta:hover::after {
    transform: scaleX(0.6);
}

/*tentang kami*/
.tentang-kami {
    padding: 3rem 5rem;
    background-color: var(--main);
    color: var(--dom1);
    text-align: center;
}
.tentang-kami h1 {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
}
.tentang-kami p {
    margin: 1rem  10rem 6rem 10rem;
    text-align: justify;
}
.list-tentang-kami {
    justify-content: center;
    margin-top: 10rem;
    display: flex;
}
.list-tentang-kami > div {
    vertical-align: top;
    margin: -5rem;
}
.list-tentang-kami p {
    text-align: justify;
    max-width: 15rem;
}

/*produk kami*/
.produk-kami {
    padding: 9rem 2rem;
    background-color: var(--putih);
    color: var(--main);
}
.produk-kami h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.daftar-produk {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.item {
    text-align: center;
    padding: 20px;
}
.item .icon:hover {
    opacity: 0.7;
    color: var(--dom1);
}
.icon {
    font-size: 48px;
    margin-bottom: 10px;
}

/*menu*/
.menu {
    background-color: var(--main);
}
.menu h1 {
    color: var(--dom1);
    text-align: center;
    font-size: 2rem;
    padding: 5rem 0rem;
}



/*Media Queries*/
@media (max-width: 500px) {

}
@media screen {

}
